# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
/static/
media/
# Ignore migrations
*/migrations/*.py
*/migrations/*.pyc

# VS Code settings
.vscode/
.history/

# macOS system files
.DS_Store

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints
